{% import _self as menus %}

<div class="{{ treeMenu.class }} js-expanded-menu">
  {{ menus.menuLinks(treeMenu.items) }}
</div>

{% macro menuLinks(items) %}
  {% import _self as menus %}
  {% if items %}
    <ul class="menu">
      {% for item in items %}
        {% if item.below %}
          <li class="menu-item expanded-menu">
            {{ item.link }}

            <div class="expanded-menu__menu-child">
              {{ menus.menuLinks(item.below) }}
            </div>
          </li>
        {% else %}
          <li class="menu-item">
            {{ item.link }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
