<header class="header js-header">
  <div class="container">
    <div class="header__left">
      {{ header.logo }}
      <span class="menu-icon"><i></i><i></i><i></i></span>
    </div>
    <div class="header__right">
      {{ header.mainMenu }}
    </div>
  </div>
</header>
