{# Start process for video embeded field #}
{% set poster = {mode: 'crop', width: 960, height: 540, quality: 95, position: 'center-center' } %}

{% set video = "" %}
{% set asset = block.videoEmbed.first() %}
{% set embed = craft.embeddedAssets.fromAsset(asset) %}
{% if embed %}
  {% set posterImage = craft.imager.transformImage(embed.thumbnailUrl, poster) %}

  {% set posterImageHtml %}
    <img src="{{ posterImage.url }}">
  {% endset %}

  {% set videoIframeHtml %}
    {{ embed.url|videoEmbedRender }}
  {% endset %}

  {% set video %}
    {% include "craftcms-theme/pattern-lab/source/_patterns/00-base-elements/01-elements/video-poster.twig"
      with {
        "videoPoster": {
          "image": posterImageHtml,
          "video": videoIframeHtml
        }
      }
    %}
  {% endset %}
{% endif %}
{# End process for video embeded field #}

{# Start process for background color field #}
{% set bgColor = "bg--white text--dark" %}

{% if block.color == "#112146" %}
  {% set bgColor = "bg--primary text--white" %}
{% endif %}
{# End process for background color field #}

{% include "craftcms-theme/pattern-lab/source/_patterns/01-components/04-box-video/00-box-video.twig"
  with {
    "boxVideo": {
      "backgroundColor": bgColor,
      "videoAlign": "media-" ~ block.position,
      "main": {
        "title": block.heading,
        "body": block.body
      },
      "sidebar": {
        "video": video,
        "title": block.label,
        "description": block.description
      }
    }
  }
%}
