{# Start process for collection card items #}
{% set items = [] %}
{% for child in block.children %}
  {% set childHtml %}
    {% include "_includes/_items/" ~ child.type.handle ~ ".twig" with {'block': child} %}
  {% endset %}

  {% set items = items|merge([childHtml]) %}
{% endfor %}
{# End process for collection card items #}

{# Start process for background color field #}
{% set bgColor = "bg--white text--dark" %}

{% if block.color == "#112146" %}
  {% set bgColor = "bg--primary text--white" %}
{% endif %}
{# End process for background color field #}

{% include "craftcms-theme/pattern-lab/source/_patterns/01-components/03-cards/00-cards.twig"
  with {
    "cards": {
      "title": block.heading,
      "backgroundColor": bgColor,
      "items": items
    }
  }
%}
