{# Start process for image field #}
{% set mobile = {mode: 'crop', width: 768, height: 720, quality: 95, position: 'center-center' } %}
{% set tablet = {mode: 'crop', width: 1024, height: 576, quality: 95, position: 'center-center' } %}
{% set wide = {mode: 'crop', width: 1400, height: 560, quality: 95, position: 'center-center' } %}

{% set image = "" %}

{% if block.image is not empty %}
  {% set asset = block.image.first() %}
  {% set image %}
    <picture>
      <source media="(min-width: 64em)" srcset="{{ asset.getUrl(wide) }}">
      <source media="(min-width: 48em)" srcset="{{ asset.getUrl(tablet) }}">
      <img src="{{ asset.getUrl(mobile) }}" />
    </picture>
  {% endset %}
{% endif %}
{# End process for image field #}

{% include "craftcms-theme/pattern-lab/source/_patterns/01-components/02-hero-banner/00-hero-banner.twig"
  with {
    "heroBanner": {
      "contentAlign": "text--" ~ block.align,
      "image": image,
      "title": block.heading,
      "description": block.description
    }
  }
%}
