// COLORS
// Define all color variables in this document
// Use http://chir.ag/projects/name-that-color/ for naming a color.

$black: #000;
$white: #fff;
$silver: #ccc;
$pigeon-post: #aec9de;
$pigeon-post-light: rgba($pigeon-post, .75);

// Gray
$gray: #808080;
$gray-f1: #f1f1f1 ;

// Red
$red: #8c1515;

// Pink
$pink: #ff2869;

// Blue
$blue: #112146;
$blue-0d: #0d28ff;

// Brand colors
$primary-color: $blue;
$text-color: $black;

// Link color
$link-color: $primary-color;
$link-color-hover: $blue-0d;

// Button color
$btn-color: $primary-color;
$btn-color-hover: $blue-0d;
