// Texts
.text {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--bold {
    font-weight: 700;
  }

  // Dark Colors
  &--primary {
    color: $primary-color;
  }

  &--dark {
    color: $text-color;
  }

  // Light Colors
  &--white {
    .text--primary,
    & {
      color: $white;
    }

    a {
      @extend %link--white;
    }
  }
}

// Backgrounds
.bg {
  // Dark backgrounds
  &--primary {
    background-color: $primary-color;
  }

  &--gray-f1 {
    background-color: $gray-f1;
  }

  &--black {
    background-color: $black;

    &--overlay {
      @include gradient-overlay($black, 0.5)
    }
  }

  // Light backgrounds
  &--white {
    background-color: $white;
  }
}

// Video Poster
.video-wrap {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: rem(20px);

  video,
  iframe {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__poster {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(0);
    transition: transform .8s ease;
    width: 100%;
    overflow: hidden;

    &:after {
      z-index: 2;
    }

    img {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }

  &__icon {
    color: $white;
    font-size: rem(90px);
    left: 50%;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  &.play-video {
    .video-wrap__poster {
      transform: translateY(-100%);
    }

    video,
    iframe {
      opacity: 1;
    }
  }

  &.is-iframe-embed {
    video,
    iframe {
      opacity: 1;
    }
  }
}
