<div class="hero-banner bg--black--overlay text--white">
  {% if heroBanner.image %}
    <div class="hero-banner__image">
      {{ heroBanner.image }}
    </div>
  {% endif %}
  {% if heroBanner.title or heroBanner.description %}
    <div class="hero-banner__content {{ heroBanner.contentAlign }}">
      <div class="container">
        {% if heroBanner.title %}
          <h1 class="hero-banner__title">{{ heroBanner.title }}</h1>
        {% endif %}
        {% if heroBanner.description is not empty %}
          <div class="hero-banner__description">{{ heroBanner.description }}</div>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>
