{% macro menuLinks(items) %}
  {% import _self as menus %}
  {% if items %}
    <ul class="menu">
      {% for item in items %}
        {% set itemClasses = ["menu-item"] %}
        {% set activeClasses = "" %}

        {% if item.active or item.hasActiveChild %}
          {% set activeClasses = "active" %}
          {% set itemClasses = itemClasses|merge(["active"]) %}
        {% endif %}

        {% if item.hasChildren %}
          {% set itemClasses = itemClasses|merge(["expanded-menu"]) %}
          <li class="{{ itemClasses|join(' ') }}">
            <a href="{{ item.url }}" class="{{ activeClasses }}" title="{{ item.name }}"{% if item.blank %} target="_blank"{% endif %}>{{ item.name }}</a>

            <div class="expanded-menu__menu-child">
              {{ menus.menuLinks(item.hasChildren) }}
            </div>
          </li>
        {% else %}
          <li class="{{ itemClasses|join(' ') }}">
            <a href="{{ item.url }}" class="{{ activeClasses }}" title="{{ item.name }}"{% if item.blank %} target="_blank"{% endif %}>{{ item.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% import _self as menus %}

<div class="{{ treeMenu.class }} js-expanded-menu">
  {{ menus.menuLinks(treeMenu.items) }}
</div>
