<nav class="pager pager--list">
  <div class="pager__items">
    <div class="pager__item--prev">
      <a href="#" title="Go to prev page"><span>←</span></a>
    </div>
    <div class="pager__item--current">Page 1 / <a href="#">30</a></div>
    <div class="pager__item--next">
      <a href="#" title="Go to next page"><span>→</span></a>
    </div>
  </div>
</nav>
