{# Start process for image field #}
{% set card = {mode: 'crop', width: 960, height: 540, quality: 95, position: 'center-center' } %}
{% set image = "" %}

{% if block.image is not empty %}
  {% set asset = block.image.first() %}
  {% set image %}
    <img src="{{ asset.getUrl(card) }}" alt="{{ block.label }}" />
  {% endset %}
{% endif %}
{# End process for image field #}

{% set linkMore %}{{ block.linkIt|raw }}{% endset %}

{% include "craftcms-theme/pattern-lab/source/_patterns/01-components/03-cards/_cards-item.twig"
  with {
    "cardsItem": {
      "image": image,
      "type": block.label,
      "title": block.heading,
      "links": linkMore
    }
  }
%}
