
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  <script src="../../../../assets/js/lib/jquery.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../assets/js/lib/picturefill.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../assets/js/lib/modernizr.min.js?{{ cacheBuster }}"></script>
  <script src="//www.youtube.com/iframe_api?{{ cacheBuster }}"></script>
  <script src="../../../../assets/js/lib/froogaloop2.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../assets/js/script.js?{{ cacheBuster }}"></script>
  </body>
</html>
