.article-detail {
  padding: rem(50px 0);

  &__title {
    margin-bottom: 0;
  }

  &__media,
  &__body,
  &__post-date {
    margin-bottom: rem(20px);
  }
}

.inline-fields {
  label {
    margin-right: rem(5px);
  }

  * {
    display: inline;
  }
}


.breadcrumbs {
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 rem(20px);
  }

  li {
    display: inline;

    &:after {
      content: '>';
      margin: rem(0 10px 0 13px);
      display: inline-block;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
