.block-cards {
  padding: rem(40px 0 20px);

  @include susy-media(tablet) {
    padding: rem(50px 0 20px);
  }

  &__title,
  &__type,
  &__image {
    margin-bottom: rem(15px);
  }

  &__links,
  &__type {
    text-transform: uppercase;
  }

  &__item {
    margin-bottom: rem(30px);

    @include susy-media(tablet) {
      @include gallery(4 of 12);
    }
  }

  &__grid {
    @extend %clearfix;
  }
}
