.box-video {
  @include clearfix;
  padding: rem(40px 0 25px);

  @include susy-media(tablet) {
    padding: rem(50px 0 22px);
  }

  &__content {
    margin-bottom: rem(20px);
  }

  &__title {
    margin: rem(0 0 10px);
  }

  &__inner {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  &.media-left {
    .box-video__media {
      order: 1;
    }

    .box-video__content {
      order: 2;

      @include susy-media(tablet) {
        @include last;
      }
    }
  }

  &.media-right {
    .box-video__media {
      order: 2;

      @include susy-media(tablet) {
        @include last;
      }
    }

    .box-video__content {
      order: 1;
    }
  }

  @include susy-media(tablet) {
    &__content {
      @include span(8 of $susy-desktop);
    }

    &__media {
      @include span(4 of $susy-desktop);
    }

    &__inner {
      flex-flow: row nowrap;
    }

    &.media-left {
      .box-video__media {
        padding-right: rem(14px);
      }
    }

    &.media-right {
      .box-video__media {
        padding-left: rem(14px);
      }
    }
  }
}
