.pager {
  &--list {
    text-align: center;
    font-size: rem(24px);
    color: $primary-color;

    .pager {
      &__items {
        position: relative;
      }

      &__item--current,
      &__item--prev,
      &__item--next {
        display: inline;
        font-size: rem(30px);
      }

      &__item--prev {
        text-align: left;
        margin-right: rem(30px);
      }

      &__item--next {
        margin-left: rem(30px);
        text-align: right;
      }
    }
  }
}
