.title-banner {
  overflow: hidden;

  &__bg-image {
    img {
      height: 100%;
      left: 50%;
      max-width: inherit;
      position: absolute;
      top: 0;
      transform: translateX(-50%);

      @include susy-media(desktopSuperwide) {
        width: 100%;
        height: auto;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }

  &__content {
    height: rem(275px);
    overflow: hidden;
    text-align: center;
    align-items:stretch;
    display:flex;
    flex-flow:column wrap;
    place-content:flex-start center;
    position: relative;
    z-index: 3;
  }

  &__title {
    font-size: rem(50px);
  }
}
