{% extends "_layout" %}
{% set title = entry.title %}

{% cache %}
  {% set mobile = {mode: 'crop', width: 768, height: 275, quality: 95, position: 'center-center' } %}
  {% set tablet = {mode: 'crop', width: 1024, height: 275, quality: 95, position: 'center-center' } %}
  {% set wide = {mode: 'crop', width: 1400, height: 275, quality: 95, position: 'center-center' } %}

  {% set poster = {mode: 'crop', width: 960, height: 540, quality: 95, position: 'center-center' } %}

  {% set image = "" %}
  {% set video = "" %}

  {% block content %}
    {% if entry.media is not empty %}
      {% set asset = entry.media.first() %}
      {% if asset.kind == 'image' %}
        {% set image %}
          <picture>
            <source media="(min-width: 64em)" srcset="{{ asset.getUrl(wide) }}">
            <source media="(min-width: 48em)" srcset="{{ asset.getUrl(tablet) }}">
            <img src="{{ asset.getUrl(mobile) }}" alt="{{ entry.title }}"/>
          </picture>
        {% endset %}
      {% elseif asset.kind == 'json' %}
        {% set embed = craft.embeddedAssets.fromAsset(asset) %}
        {% if embed %}
          {% set posterImage = craft.imager.transformImage(embed.thumbnailUrl, poster) %}

          {% set posterImageHtml %}
            <img src="{{ posterImage.url }}">
          {% endset %}

          {% set videoIframeHtml %}
            {{ embed.url|videoEmbedRender }}
          {% endset %}

          {% set video %}
            {% include "craftcms-theme/pattern-lab/source/_patterns/00-base-elements/01-elements/video-poster.twig"
              with {
                "videoPoster": {
                  "image": posterImageHtml,
                  "video": videoIframeHtml
                }
              }
            %}
          {% endset %}
        {% endif %}
      {% else %}
        {# Nothing #}
      {% endif %}
    {% endif %}

    {% set breadcrumbs %}
      <div class="breadcrumbs">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/news">News</a></li>
          <li>{{ entry.title }}</li>
        </ul>
      </div>
    {% endset %}

    <article class="article-detail__content">
      {# Header news detail, media is image #}
      {% if image %}
        {% include "craftcms-theme/pattern-lab/source/_patterns/01-components/05-title-banner/00-title-banner.twig"
          with {
            "titleBanner": {
              "title": entry.title,
              "bgImage": image
            }
          }
        %}
        <br>
      {% endif %}

      <div class="container">
        {% if image == "" %}
          <h1 class="article-detail__title text--primary">{{ entry.title }}</h1>
        {% endif %}

        {{ breadcrumbs }}

        <div class="article-detail__post-date">
          <p>{{ entry.postDate.format('F d, Y') }}</p>
        </div>

        {% if video %}
          <div class="article-detail__media">
            {{ video }}
          </div>
        {% endif %}

        <div class="article-detail__body">
          {{ entry.body }}
        </div>
      </div>
    </article>

    {% set tags = entry.tags %}
    {% set entries = craft.entries({
      relatedTo: tags,
      order: 'score',
      limit: 3,
      id: 'not ' ~ entry.id
    }) %}

    {% set items = [] %}
    {% for entry in entries %}
      {% set childHtml %}
        {% include "news/_teaser.html" with {'entry': entry} %}
      {% endset %}

      {% set items = items|merge([childHtml]) %}
    {% endfor %}

    {% if items is not empty %}
      {% include "craftcms-theme/pattern-lab/source/_patterns/01-components/03-cards/00-cards.twig"
        with {
          "cards": {
            "title": "Related News",
            "backgroundColor": "bg--gray-f1 text-dark",
            "items": items
          }
        }
      %}
    {% endif %}

  {% endblock %}
{% endcache %}
