{# Start process for media field #}
{% set card = {mode: 'crop', width: 960, height: 540, quality: 95, position: 'center-center' } %}
{% set media = "" %}

{% if entry.media is not empty %}
  {% set asset = entry.media.first() %}
  {% if asset.kind == 'image' %}
    {% set media %}
      <img src="{{ asset.getUrl(card) }}" />
    {% endset %}
  {% elseif asset.kind == 'json' %}
    {% set embed = craft.embeddedAssets.fromAsset(asset) %}
    {% if embed %}
      {% set thumbnail = craft.imager.transformImage(embed.thumbnailUrl, card) %}

      {% set media %}
        <img src="{{ thumbnail.url }}">
      {% endset %}
    {% endif %}
  {% else %}
    {# Process for another file type #}
  {% endif %}
{% endif %}
{# End process for media field #}

{% set linkMore %}<a href="{{ entry.url }}" title="Read more">Read more</a>{% endset %}

{% include "craftcms-theme/pattern-lab/source/_patterns/01-components/03-cards/_cards-item.twig"
  with {
    "cardsItem": {
      "image": media,
      "type": entry.postDate.format('F d, Y'),
      "title": entry.title,
      "links": linkMore
    }
  }
%}
