{% extends "_layout" %}
{% set title = "News at FFW" %}

{% block content %}
	{% include "craftcms-theme/pattern-lab/source/_patterns/01-components/05-title-banner/00-title-banner.twig"
    with {
      "titleBanner": {
        "title": "News at FFW",
        "bgImage": ""
      }
    }
  %}

	{% paginate craft.entries.section('news').limit(9) as pageInfo, pageEntries %}

	{% set items = [] %}
	{% for entry in pageEntries %}
		{% set childHtml %}
			{% include "news/_teaser.html" with {'entry': entry} %}
		{% endset %}

		{% set items = items|merge([childHtml]) %}
	{% endfor %}

	{% include "craftcms-theme/pattern-lab/source/_patterns/01-components/03-cards/00-cards.twig"
		with {
			"cards": {
				"title": "",
				"backgroundColor": "bg--white text--dark",
				"items": items
			}
		}
	%}

	{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous Page</a>{% endif %}
	{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next Page</a>{% endif %}
{% endblock %}
