<div class="block-cards {{ cards.backgroundColor }}">
  <div class="container">
    {% if cards.title %}
      <h2 class="block-cards__title text--primary">{{ cards.title }}</h2>
    {% endif %}
    <div class="block-cards__grid">
      {% for item in cards.items %}
        {{ item }}
      {% endfor %}
    </div>
  </div>
</div>
