<div class="block-cards__item">
  <div class="block-cards__image">
    {{ cardsItem.image }}
  </div>
  <div class="block-cards__type text--primary">{{ cardsItem.type }}</div>
  <div class="block-cards__title">{{ cardsItem.title }}</div>
  <div class="block-cards__links text--bold">{{ cardsItem.links }}</div>
</div>
