<div class="article-detail">
  <div class="container">
    {% if articleDetail.breadcrumbs %}
      {{ articleDetail.breadcrumbs }}
    {% endif %}
    <div class="article-detail__content">
      <h1 class="article-detail__title text--primary">{{ articleDetail.title }}</h1>
      <div class="article-detail__post-date">{{ articleDetail.postDate }}</div>
      {% if articleDetail.media %}
        <div class="article-detail__media">{{ articleDetail.media }}</div>
      {% endif %}
      <div class="article-detail__body">{{ articleDetail.body }}</div>
      {% if articleDetail.tags %}
        <div class="article-detail__tags inline-fields">{{ articleDetail.tags }}</div>
      {% endif %}
    </div>
  </div>
</div>
