.menu-icon {
  cursor: pointer;
  display: inline-block;
  height: rem(16px);
  position: relative;
  width: rem(24px);

  @include susy-media(desktop) {
    display: none;
  }

  i {
    background: $primary-color;
    height: rem(2px);
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    transition: .5s;
    width: 100%;

    &:nth-child(2) {
      top: 50%;
    }

    &:nth-child(3) {
      top: 100%;
      opacity: 1;
    }
  }
}

.header {
  position: fixed;
  z-index: 10;
  box-shadow: rem(0 0 10px) 0 rgba(0, 0, 0, .15), rem(0 3px 3px 0) rgba(0, 0, 0, .15);
  padding: rem(15px 0);
  left: 0;
  width: 100%;
  top: 0;
  background: $white;
  transition: all .3s ease;

  &__left {
    @include susy-media(mobileTabletOnly) {
      @include clearfix;
    }

    @include susy-media(desktop) {
      float: left;
      width: rem(130px);
      padding-top: rem(5px);
      transition: all .3s ease;
    }

    .logo {
      line-height: 0;

      @include susy-media(mobileTabletOnly) {
        display: inline-block;
        float: left;
      }

      img {
        transition: all .5s ease;
        width: rem(70px);

        @include susy-media(desktop) {
          width: rem(96px);
        }
      }
    }

    .menu-icon {
      @include susy-media(mobileTabletOnly) {
        float: right;
        margin-top: rem(5px);
      }
    }
  }

  &__right {
    @include susy-media(mobileTabletOnly) {
      position: absolute;
      left: 0;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      margin-top: rem(10px);
      transition: all .5s ease;
    }

    @include susy-media(desktop) {
      float: right;
      width: calc(100% - #{rem(130px)});
    }
  }

  &.show-nav {
    .header__left {
      .menu-icon i {
        &:nth-child(1) {
          transform: rotate(-45deg);
          top: 50%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          opacity: 0;
        }
      }
    }

    .header__right {
      @include susy-media(mobileTabletOnly) {
        visibility: inherit;
        opacity: 1;
        margin-top: 0;
      }
    }
  }

  &.scroll-header {
    @include susy-media(desktop) {
      padding: rem(10px 0);
    }

    .header__left {
      @include susy-media(desktop) {
        padding-top: rem(12px);
      }

      .logo {
        img {
          @include susy-media(desktop) {
            width: rem(70px);
          }
        }
      }
    }
  }
}

.page-wrapper {
  padding-top: rem(54px);

  @include susy-media(desktop) {
    padding-top: rem(74px);
  }
}
