// Navigation.
.main-menu {
  @include susy-media(mobileTabletOnly) {
    padding: rem(20px $container-margin-mobile);
    margin-top: rem(15px);
    background: $white;
    box-shadow: rem(0 0 10px) 0 rgba(0, 0, 0, .15), rem(0 3px 3px 0) rgba(0, 0, 0, .15);
    max-height: calc(100vh - #{rem(54px)});
    overflow-x: hidden;
    overflow-y: auto;
  }

  @include susy-media(tabletOnly) {
    padding: rem(20px $container-margin-mobile);
  }

  @include susy-media(desktop) {
    float: right;
  }

  a,
  .no-link {
    display: block;
    font-size: rem(16px);
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-item {
    margin-bottom: rem(10px);

    &:last-child {
      margin-bottom: 0;
    }

    .menu {
      @include susy-media(mobileTabletOnly) {
        margin-left: rem(20px);
        padding: rem(10px 0);
      }
    }
  }

  > .menu {
    > .menu-item {
      @include susy-media(desktop) {
        float: left;
        margin-right: rem(20px);
        margin-bottom: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      > a,
      > .no-link {
        display: block;

        @include susy-media(desktop) {
          font-size: rem(18px);
          padding: rem(10px);
        }
      }
    }

    > .expanded-menu {
      position: relative;

      .expanded-menu__menu-child {
        @include susy-media(desktop) {
          position: absolute;
          width: rem(200px);
          padding: rem(20px);
          background: $white;
          box-shadow: rem(0 0 10px) 0 rgba(0, 0, 0, .15), rem(0 3px 3px 0) rgba(0, 0, 0, .15);
          visibility: hidden;
          opacity: 0;
          margin-top: rem(10px);
          transition: all .3s ease;
        }
      }

      &:hover {
        > .expanded-menu__menu-child {
          @include susy-media(desktop) {
            visibility: inherit;
            opacity: 1;
            margin-top: 0;
          }
        }
      }
    }
  }
}
