<div class="box-video {{ boxVideo.backgroundColor }} {{ boxVideo.videoAlign }}">
  <div class="container">
    <div class="box-video__inner">
      {% if boxVideo.main %}
        <div class="box-video__content">
          {% if boxVideo.main.title %}
            <h2 class="box-video__title text--primary">{{ boxVideo.main.title }}</h2>
          {% endif %}
          {% if boxVideo.main.body %}
            <div class="box-video__body">{{ boxVideo.main.body }}</div>
          {% endif %}
        </div>
      {% endif %}
      {% if boxVideo.sidebar %}
        <div class="box-video__media">
          {% if boxVideo.sidebar.video %}
            {{ boxVideo.sidebar.video }}
          {% endif %}
          {% if boxVideo.sidebar.title %}
            <h3 class="box-video__title text--primary">{{ boxVideo.sidebar.title }}</h3>
          {% endif %}
          {% if boxVideo.sidebar.description %}
            <div class="box-video__description">{{ boxVideo.sidebar.description }}</div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
