<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	{% includeCssFile siteUrl ~ "assets/css/styles.css" %}
</head>

<body>
	<div class="page-wrapper">
		{% block header %}
			{% set mainMenu %}
				{% set navItems = craft.amNav.getNavRaw("main") %}
				{% include "_macros/menu.twig"
					with {
						"treeMenu": {
							"class": "main-menu",
							"items": navItems
						}
					}
				%}
			{% endset %}

			{% set logo %}
				<a class="logo" href="{{ siteUrl }}">
					<img src="/assets/logo.svg" alt="{{ siteName }}">
				</a>
			{% endset %}

			{% include "craftcms-theme/pattern-lab/source/_patterns/01-components/01-sitewide/01-header/header.twig"
				with {
					"header": {
						"logo": logo,
						"mainMenu": mainMenu
					}
				}
			%}
	  {% endblock %}

	  <main id="main" class="main">
	    {% block content %}
	      <h1 class="page-header">Wellcome to Craft!</h1>
	    {% endblock %}
	  </main>

	  {% block footer %}
	    <footer class="footer bg--primary text--white">
				<div class="footer__copyright text--center">
					<p>&copy; {{ now.year }} FFW Vietnam.</p>
				</div>
			</footer>
	  {% endblock %}
	</div>
	{% includeJsFile siteUrl ~ "assets/js/lib/jquery.min.js" %}
	{% includeJsFile siteUrl ~ "assets/js/lib/picturefill.min.js" %}
	{% includeJsFile siteUrl ~ "assets/js/lib/modernizr.min.js" %}
	{% includeJsFile "//www.youtube.com/iframe_api" %}
	{% includeJsFile siteUrl ~ "assets/js/lib/froogaloop2.min.js" %}
	{% includeJsFile siteUrl ~ "assets/js/script.js" %}
</body>
</html>
