<div class="title-banner bg--black--overlay text--white">
  <div class="title-banner__bg-image">{{ titleBanner.bgImage }}</div>
  <div class="container">
    <div class="title-banner__content">
      <h1 class="title-banner__title">{{ titleBanner.title }}</h1>
    </div>
  </div>
</div>
